<!DOCTYPE html>
<html>
<head>
	<title>xml scraper</title>
	<!-- <link href="css/bootstrap.min.css" rel="stylesheet"> -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

</head>
<body>
	
<div class="container-fluid">
		<!-- vedere se aggiungere la progress bar per il download -->
	<div class="progress">
	  <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
	    <span class="sr-only">45% Complete</span>
	  </div>
	</div>

	<div class="row text-center">
		<div class="col-xs-12 col-sm-12">
		  <h2 class="lead">Select market, product & number of entries</h2>
		</div>
	</div>
	<form action="/" method = "post">
		<div class="row text-center">
		  	<div class="col-xs-12 col-sm-4">
			    <div class="form-group">
			      <label for="market">Select the market</label>
			      <select name="market"class="form-control" id="sel1">
			        <option value="de">Germany</option>
			        <option value="fr">France</option>
			        <option value="es">Spain</option>
			        <option value="uk">UK</option>
			      </select>
			    </div>
			</div>	    
		    <div class="col-xs-12 col-sm-4">
		      <label for="product">Select the product</label>
		      <select name="product" class="form-control" id="sel2">
		      	<option value="topmovies">top movies</option>
			    <option value="topalbums">top albums</option>
			    <option value="toppaidebooks">top iBooks</option>
			    <option value="toptvseasons">top TV-shows</option>
		      </select>
		    </div>
		    <div class="col-xs-12 col-sm-4">
		      <label for="entries">Number of entries</label>
		      <select name="entries"class="form-control" id="sel3">
		      	<option value=10>10</option>
		        <option value=50>50</option>
		        <option value=100>100</option>
		        <option value=150>150</option>
		        <option value=200>200</option>
		      </select>
		    </div>
		</div>
	 <br>
	 <br>
		<div class="row text-center">
		  	<div class = "col-sm-12 col-offset-3">
		 	<input type="submit" value="Submit">
		 	</div>
		</div>
	</form>
</div>




</body>
</html>